.center_div{
    margin: 0 auto;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.w_full{
    width: 100%;
}

body {
    background-color: blueviolet;
}

.h400 {
    height: 400px;
}

.align_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

